@import url("https://fonts.googleapis.com/css?family=Montserrat|Quicksand");

* {
  font-family: "quicksand", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
form {
  padding: 10px 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 50px;
}

input[type="text"],
input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
  font-size: 0.8rem;
}

button {
  background: #1b4965;
  color: #cae9ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  font-weight: 600;
  font-size: 16px;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

h2 {
  color: 161925;
}

label {
  font-size: 18px;
}
