form {
  padding: 10px 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 50px;
}

input[type="text"],
input[type="password"],
textarea[type="text"] {
  padding: 20px 20px;
  margin: 8px 0;
  border: 1px solid #555;
  box-sizing: border-box;
  outline: none;
  font-size: 0.9rem;
  width: 400px;
  border-radius: 10px;
  font-weight: 500;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea[type="text"]:focus {
  background: #b6b6b6;
}
button {
  background: #060606;
  color: #ffffff;
  padding: 20px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 400px;
  font-weight: 1000;
  font-size: 1rem;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 7px #999;
}

button:hover {
  opacity: 0.8;
}

label {
  font-size: 18px;
  color: #ffffff;
}
